* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  color: #161616;
  font-family: "Inter", sans-serif;
}

a {
  text-decoration: none;
}

.container {
  margin: 0 auto;
  max-width: 1200px;
  padding: 40px 20px;
}

.header-menu {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.header-menu h1 {
  font-size: 32px;
}

.header-menu input {
  padding: 10px 20px;
  border: 1px solid #feae36;
  border-radius: 4px;
  outline-color: #feae36;
}

.btn {
  background-color: #feae36;
  color: #161616;
  padding: 10px 20px;
  border-radius: 0px 4px 4px 0px;
  font-weight: bold;
}

.form-search {
  position: relative;
}

.btn.search {
  border: 1px solid #feae36;
  position: absolute;
  right: -80px;
  height: 100%;
  /* bottom: 1px; */
}

a.btn {
  border-radius: 4px;
  text-decoration: none;
}

.header-menu input::-webkit-search-cancel-button {
  display: none;
}

.veiculos table {
  border-spacing: 0px;
  width: 100%;
  margin-top: 60px;
}

.veiculos tr {
  text-align: center;
}

.veiculos tbody tr:nth-child(2n + 1) {
  background-color: #ffe2b7;
}

.veiculo-icons {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 10px;
  align-items: center;
}

.veiculo-icons button {
  background: none;
  border: none;
  cursor: pointer;
}

.veiculo-icons .icon img {
  width: 28px;
  padding: 10px 0px;
}

.container-form {
  margin: 0 auto;
  max-width: 780px;
  height: 100vh;
}

.container-form h2 {
  font-size: 24px;
  color: #363636;
  margin-top: 40px;
  margin-bottom: 20px;
}

#cadastro form {
  border: 1px solid rgba(0, 0, 0, 0.2);
  box-shadow: 1px 1px 5px rgba(0, 0, 0, 0.1);
  border-radius: 6px;
  padding: 60px 80px;
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 0px 20px;
}

form input {
  padding: 10px 20px;
  border: 1px solid #feae36;
  border-radius: 6px 0px 0px 6px;
  font-family: "Inter", sans-serif;
  font-size: 14px;
  color: #363636;
  outline-color: #feae36;
}

.form-input label {
  font-weight: 600;
  color: #363636;
  display: block;
  margin-bottom: 5px;
}

.form-input input {
  border-radius: 6px;
  width: 100%;
  border-color: #363636;
  margin-bottom: 18px;
}

#cadastro form button {
  background-color: #feae36;
  border: 1px solid #feae36;
  color: #363636;
  font-weight: bold;
  font-size: 14px;
  padding: 10px 40px;
  border-radius: 6px;
  width: fit-content;
}
